* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu-9ELyW_Xv5RpZz9C7H2ntqI3Aw1ivJPnxA&s')no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.main-box {
    height: 350px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    margin-top: 50px;
    margin-left: 50px;

}

.login {
    font-size: 150%;
    color: #fff;
    margin-bottom: 30px;
}

.box input {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 15px;
    outline: none;
    /* background: transparent; */
    border-radius: 30px;

}

.box2 input {
    margin-top: 30px;
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 15px;
    outline: none;
    /* background: transparent; */
    border-radius: 30px;
}

.btn {
    height: 40px;
    width: 200px;
    margin-top: 20px;
    font-size: x-large;
    border-radius: 30px;
    /* color: #fff; */
    outline: none;
    /* background: transparent; */
    cursor: pointer;
}

.text {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}

.text2 {
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
}